{{define "main"}}
<section id="confirmation">
    <div class="content">
        <h1>Success!</h1>
        <p>The form has been submitted and we will get back to you as soon as possible.</p>
    </div>
</section>
{{end}}