{{define "title"}}Contact{{end}}

{{define "main"}}
<div id="headBanner" class="contact">
    <h1>Contact</h1>
</div>
<section id="contactForm">
    {{template "contactIntro" .}}
    {{template "contactForm" .}}
</section>
{{end}}