{{define "title"}}Home{{end}}

<!-- TODO: On mobile devices, onClick flips Service card. -->
<!-- TODO: Contact Form -->

{{define "main"}}
<section id="homeBanner" class="jumbotron">
    <svg id="curve" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1416.99 174.01">
        <path class="cls-1"
            d="M 0,400 C 0,400 0,200 0,200 C 131.46666666666664,238.53333333333333 262.9333333333333,277.06666666666666 437,267 C 611.0666666666667,256.93333333333334 827.7333333333333,198.26666666666668 1002,179 C 1176.2666666666667,159.73333333333332 1308.1333333333332,179.86666666666667 1440,200 C 1440,200 1440,400 1440,400 Z"
            transform="translate(0-135.53)" />
    </svg>
    <div class="content">
        <div class="img-overlay">
            <img src="../static/img/KPK Logo_Colour.png" alt="KPK Accounting Inc. Logo, colour">
        </div>
    </div>
</section>
<section id="homeIntro">
    <div class="content">
        <div class="contentSection">
            <h3>Need help but don’t need a fulltime CFO?</h3>
            <div class="paraWrap">
                <p>A Fractional CFO can be the answer.</p>
            </div>
        </div>
        <div class="contentSection">
            <h2 class="w-border">What is a Fractional CFO?</h2>
            <div class="paraWrap">
                <p>A Fractional CFO is a part-time financial professional who offers their valuable expertise to
                    business owners, entrepreneurs and start-ups to help them develop scalable, long-term financial
                    health.</p>
                <p>This cost-effective solution can bridge the gap until you can sustain a full-time CFO or can help
                    solve a challenge you face. There are no commitments, no recruitment fees, fixed retainers, or
                    costly cancellation fees. Only the professional expertise you need when, you need it.</p>
            </div>
        </div>
        <a href="/contact" class="btn primary">Let's Get Started!<i class="fa-solid fa-angle-left"></i></a>
    </div>
</section>
<section id="homeServices" class="sectionbg">
    <div class="content content_bg">
        <div class="contentSection">
            <h2 class="w-border">Services</h2>
            {{template "flipCards" .}}
        </div>
    </div>
</section>
<section id="homeAbout">
    <div class="content">
        {{template "aboutContent" .}}
    </div>
</section>
<section id="homeContact">
    <div class="content content_bg">
        <h2 class="w-border">Get in Touch</h2>
        <div class="paraWrap">
            <div class="paraWrap">
                <p>Let’s set up a time to chat. I can learn more about you and your business, tell you more about what I
                    do
                    and how I can help. </p>
                <p>Simply fill out the form below or call <a href="tel:16475455197">647-545-5197</a>.</p>
            </div>
        </div>
        <form id="contactFormSubmit" action="/" method="POST" novalidate>
            {{template "contactForm" .}}
        </form>
    </div>
</section>
{{end}}