{{define "main"}}
<section id="services" class="headBanner">
    <div class="content">
        <h1>Services</h1>
    </div>
</section>
<section id="serviceDesc" class="inside">
    <div class="content">
        <div id="operationalActivities" class="contentSection tile">
            <h2 class="w-border">Operational Activities: </h2>
            <div class="paraWrap">
                <ul>
                    <li>Cash Flow Optimization </li>
                    <li>Profit Optimization </li>
                    <li>Systems and Controls Improvements </li>
                    <li>KPI Reporting Implementation </li>
                </ul>
            </div>
        </div>
        <div id="businessSupport" class="contentSection tile">
            <h2 class="w-border">Business Support: </h2>
            <div class="paraWrap">
                <ul>
                    <li>Banking Relationships </li>
                    <li>Audit Leadership </li>
                    <li>Compliance and Governance </li>
                    <li>Government Grant Advisory </li>
                </ul>
            </div>
        </div>
        <div id="strategicPlanning" class="contentSection tile">
            <h2 class="w-border">Strategic Planning: </h2>
            <div class="paraWrap">
                <ul>
                    <li>Business Plan Development </li>
                    <li>Sell/Exit Planning </li>
                    <li>Risk Identification </li>
                    <li>Source Funding </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{end}}