{{define "main"}}
<section id="services" class="headBanner">
    <div class="content">
        <h1>Services</h1>
    </div>
</section>
<section id="serviceDesc" class="inside">
    <div class="content">
        <div id="strategicPlanning" class="contentSection">
            <h2 class="w-border">Strategic Planning</h2>
            <div class="paraWrap">
                <ul>
                    <li>Business Plans</li>
                    <li>Sell/Exit</li>
                    <li>Identify Risks</li>
                    <li>Source Funding</li>
                </ul>
            </div>
        </div>
        <div id="operationalActivities" class="contentSection">
            <h2 class="w-border">Operational Activities</h2>
            <div class="paraWrap">
                <ul>
                    <li>Optimize Cash Flow</li>
                    <li>Optimize Profits</li>
                    <li>Improve Systems and Controls</li>
                    <li>Implement KPI Reporting</li>
                </ul>
            </div>
        </div>
        <div id="businessSupport" class="contentSection">
            <h2 class="w-border">Business Support</h2>
            <div class="paraWrap">
                <ul>
                    <li>Develop Strong Banking Relationships</li>
                    <li>Provide Audit Leadership</li>
                    <li>Improve Compliance</li>
                    <li>Optimize Tax and Grants</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{end}}