{{define "flipCards"}}
<div class="flip-card" tab-index="0">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <i class="fa-solid fa-lightbulb-gear"></i>
            <h3>Strategic Planning</h3>
        </div>
        <div class="flip-card-back">
            <h4>Strategic Planning</h4>
            <ul>
                <li>Business Plans</li>
                <li>Sell/Exit</li>
                <li>Identify Risks</li>
                <li>Source Funding</li>
            </ul>
        </div>
    </div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <i class="fa-solid fa-money-bill-trend-up"></i>
            <h3>Operational Activities</h3>
        </div>
        <div class="flip-card-back">
            <h4>Operational Activities</h4>
            <ul>
                <li>Optimize Cash Flow</li>
                <li>Optimize Profits</li>
                <li>Improve Systems and Controls</li>
                <li>Implement KPI Reporting</li>
            </ul>
        </div>
    </div>
</div>
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <i class="fa-solid fa-handshake"></i>
            <h3>Business Support</h3>
        </div>
        <div class="flip-card-back">
            <h4>Business Support</h4>
            <ul>
                <li>Develop Strong Banking Relationships</li>
                <li>Provide Audit Leadership</li>
                <li>Improve Compliance</li>
                <li>Optimize Tax and Grants</li>
            </ul>
        </div>
    </div>
</div>
{{end}}