{{define "flipCards"}}
<div class="flipCardWrapper">
    <div class="flip-card" tab-index="0">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <i class="fa-solid fa-money-bill-trend-up"></i>
                <h4>Operational Activities</h4>
            </div>
            <div class="flip-card-back">
                <h5>Operational Activities: </h5>
                <ul>
                    <li>Cash Flow Optimization </li>
                    <li>Profit Optimization </li>
                    <li>Systems and Controls Improvements </li>
                    <li>KPI Reporting Implementation </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <i class="fa-solid fa-handshake"></i>
                <h4>Business Support </h4>
            </div>
            <div class="flip-card-back">
                <h5>Business Support: </h5>
                <ul>
                    <li>Banking Relationships </li>
                    <li>Audit Leadership </li>
                    <li>Compliance and Governance </li>
                    <li>Government Grant Advisory </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <i class="fa-solid fa-gears"></i>
                <h4>Strategic Planning </h4>
            </div>
            <div class="flip-card-back">
                <h5>Strategic Planning: </h5>
                <ul>
                    <li>Business Plan Development </li>
                    <li>Sell/Exit Planning </li>
                    <li>Risk Identification </li>
                    <li>Source Funding </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}