{{define "aboutContent"}}
<img class="img_full" src="../static/img/L3ZX2-1315GD68_KowatschK_02-standing.jpg"
    alt="Profile of Ken Kowatsch standing in front of a concrete wall.">
<div class="aboutContent">
    <div id="myStory" class="contentSection">
        <h2 class="w-border">My Story</h2>
        <div class="paraWrap">
            <p>
                I’m a senior-level executive with more than 25 years of experience in finance, administration, IT, and
                human resources. I’ve worked in private and public multi-national companies across several industries,
                including:
            </p>
            <ul>
                <li>Technology</li>
                <li>Health care </li>
                <li>Lease/asset financing </li>
                <li>Manufacturing </li>
                <li>Warehouse/distribution </li>
            </ul>
            <p>
                Whether working with small entrepreneurial organizations or large multi-national enterprises, I have a
                proven track-record of improving operations, impacting business growth, and maximizing profits so that
                businesses meet their financial goals.
            </p>
        </div>
    </div>
    {{if eq .Page.Title "About"}}
    <div id="myApproach" class="contentSection">
        <h2 class="w-border">My Approach</h2>
        <div class="paraWrap">
            <p>No one knows your business better than you do. That’s why I will always begin by listening and asking
                questions to get a better understanding of you and your unique needs. Those insights allow me to provide
                clear, step-by-step solutions that deliver superior financial results for your business. </p>
            <p>I don’t sit by the sidelines. Instead, I can work directly with you or work with your team, either way I
                will bring my diverse professional experience and network of resources to your organization. Depending
                on your needs, I can scale up or down, and can work in-person at your office or remotely. </p>
            <p>My goal is to help you achieve your goals. </p>
        </div>
    </div>
    {{end}}
    {{if eq .Page.Title "Home"}}
    <a href="/about" id="myStorybtn" class="btn secondary">Learn More<i class="fa-solid fa-angle-left"></i></a>
    {{end}}
</div>
{{end}}