{{define "contactForm"}}
<form action="/" method="post" novalidate autocomplete="on">
    <div class="label-input-group">
        <label for="flname">Name</label>
        <input id="flname" type="text" name="name" placeholder="Please enter your full name..." required>
    </div>
    <div class="label-input-group">
        <label for="cname">Name</label>
        <input id="cname" type="text" name="cname" placeholder="Please enter your company name...">
    </div>
    <div class="label-input-group">
        <label for="email">Name</label>
        <input id="email" type="email" name="email" placeholder="Please enter your email address..." required>
    </div>
    <div class="label-input-group">
        <label for="phone">Name</label>
        <input id="phone" type="tel" name="phone" placeholder="Please enter your phone number..." required>
    </div>
    <div class="label-input-group">
        <label for="message-input">Message</label>
        <textarea id="message-input" name="message" rows="8" cols="50"
            placeholder="In a sentence or two, please describe the service we can assist you with." required></textarea>
    </div>
    <input type="submit" value="Submit" />
</form>
{{end}}