{{define "footer"}}
<nav id="footerNavigation" class="navigation">
    <div class="content">
        <div class="copyrightWrapper">
            <img class="logoFooter" src="../static/img/KPK Logo_White.png" alt="KPK Accounting Logo, black & white">
            <span>&#169; {{copyrightYear}} KPK Accounting Inc.</span>
        </div>
    </div>
</nav>
{{end}}