{{define "footer"}}
<nav id="footerNavigation" class="navigation">
    <div class="content">
        <div class="copyrightWrapper">
            <img class="logoFooter" src="../static/img/KPK Logo_White.png" alt-text="KPK Accounting Logo, White">
            <span>&#169; {{copyrightYear}}</span>
        </div>
        <div class="btnGroup">
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</nav>
{{end}}