{{define "contactForm"}}
<form action="/contact" method="POST">
    {{range .Form.NonFieldErrors}}
    <div class="error">{{.}}</div>
    {{end}}
    <div class="label-input-group">
        {{with .Form.FieldErrors.fullname}}
        <div class="error">{{.}}</div>
        {{end}}
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="Please enter your full name..." required>
    </div>
    <div class="label-input-group">
        <label for="cname">Company Name</label>
        <input id="cname" type="text" name="cname" placeholder="Please enter your company name...">
    </div>
    <div class="label-input-group">
        {{with .Form.FieldErrors.email}}
        <div class="error">{{.}}</div>
        {{end}}
        <label for="email">Email Address</label>
        <input id="email" type="email" name="email" placeholder="Please enter your email address..." required>
    </div>
    <div class="label-input-group">
        {{with .Form.FieldErrors.phone}}
        <div class="error">{{.}}</div>
        {{end}}
        <label for="phone">Phone number</label>
        <input id="phone" type="tel" name="phone" placeholder="Please enter your phone number..." required>
    </div>
    <div class="label-input-group">
        {{with .Form.FieldErrors.content}}
        <div class="error">{{.}}</div>
        {{end}}
        <label for="message-input">Message</label>
        <textarea id="message-input" name="message" rows="8" cols="50"
            placeholder="In a sentence or two, please describe the service we can assist you with." required></textarea>
    </div>
    <input type="submit" value="Submit" />
</form>
{{end}}