{{define "myStory"}}
<img src="../static/img/LowRes_shutterstock_1233294022.jpg" alt="Placeholder image for now...">
<div id="myStory" class="contentSection">
    <h2 class="w-border">My Story</h2>
    <div class="paraWrap">
        <p>
            I’m a senior-level executive with more than 25 years of experience in finance, administration, IT, and human
            resource across multiple industries in both private and public sectors, including:
        </p>
        <ul>
            <li>technology</li>
            <li>health care,</li>
            <li>lease/asset financing</li>
            <li>manufacturing</li>
            <li>warehouse/distribution</li>
        </ul>
        <p>
            Whether working with small entrepreneurial organizations or large multi-national enterprises, I have a
            proven track-record of improving operations, impacting business growth, and maximizing profits so that
            businesses meet their financial goals.
        </p>
    </div>
</div>
{{end}}