{{define "nav"}}
<!-- <nav id="mainNavigation" class="navigation" role="navigation">
    <a class="navbar-brand" href="/"><img src="../static/img/KPK Logo_White.png"></a>
    <div class="menuWrapper">
        <button class="hamburger" aria-label="menu" aria-expanded="false" aria-controls="menu"><i
                class="fa fa-bars"></i></button>
        <ul id="menu" hidden>
            <li><a href='/'>Home</a></li>
            <li><a href='/kpk-about'>About</a></li>
            <li><a href='/kpk-about'>Services</a></li>
            <li><a href='/kpk-about'>Contact</a></li>
        </ul>
    </div>
</nav> -->

<div id="mainNavigation" class="navigation">
    <a href="/" class="brand">
        <img src="../static/img/KPK Logo_White.png">
    </a>
    <nav role="navigation">
        <button class="nav-mobile" aria-label="menu" aria-expanded="false" aria-controls="menu"><i
                class="fa fa-bars"></i></button>
        <ul id="menu" class="nav-list" hidden>
            <li> <a href="/">Home</a> </li>
            <li> <a href="/about">About</a> </li>
            <li> <a href="/services">Services</a> </li>
            <li> <a href="/contact">Contact</a> </li>
        </ul>
    </nav>
</div>
{{end}}