/* Variables */
:root {
    /* Brand Colours */
    --light-blue: rgb(96, 175, 255);
    --teal: rgb(37, 109, 133);
    --dark-blue: rgb(6, 40, 61);
    --light-gray: rgb(71, 181, 255);
    --medium-gray: rgb(102, 102, 102);

    /* Fonts */
    --base-font-size: 16px;
    --font-weight-medium: 600;
    --font-weight-regular: 500;
    --font-weight-normal: 400;
    --h1: calc(26px + (48 - 26) * ((100vw - 300px) / (1600 - 300)));
    --h2: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    --h3: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
    --h4: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    --h5: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--base-font-size);
    line-height: 24px;
    color: var(--dark-blue);
    height: 100%;
}

body {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 100%;
}

/* Fonts */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-regular);
}

h1,
h2 {
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 10px 0;
}

h3,
h4,
h5,
h6 {
    padding: 15px 0 5px;
    font-weight: var(--font-weight-regular);
    margin: 0;
}

h6 {
    padding: 0;
}

p {
    line-height: 1.25em;
    margin-top: 0;
}

.w-border {
    border-bottom: 3px solid var(--light-blue);
    width: fit-content;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.navigation ul[hidden] {
    display: none;
}

.navigation button.hamburger {
    border: 0;
    background: none;
}

.navigation button.hamburger::before {
    content: ' ';
    position: absolute;
    border-radius: 200vh;
    opacity: 0;
    left: calc(-130vmax + 50%);
    top: calc(-130vmax + 50%);
    width: 260vmax;
    height: 260vmax;
    background: var(--dark-blue);
    display: block;
    z-index: -1;
    transform: scale3d(0, 0, 0);
    transform-origin: 50% 50%;
    transition: 0.5s ease-in-out transform, 0.2s 0.4s ease-in-out opacity;
}

.navigation button.hamburger[aria\-expanded=true] {
    color: white;
}

.navigation button.hamburger[aria\-expanded=true]::before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    transition: 0.5s ease-in-out transform, 0.1s ease-in-out opacity;
}

/*
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    position: relative;
    margin-left: 1rem;
}

.navigation a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
}

.navigation ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}

.navigation ul ul li {
    margin-top: 0.5rem;
}

.navigation ul ul a {
    background-color: #333;
}

.navigation li:hover>ul {
    display: block;
}

@media screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .navigation li {
        margin: 0;
        margin-bottom: 1rem;
    }

    .navigation li:hover>ul {
        display: none;
    }

    .navigation li {
        position: relative;
    }

    .navigation li:hover>ul {
        display: block;
    }

    .navigation ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 1;
        display: none;
    }

    .navigation ul ul li {
        margin-top: 0;
    }
} */


/* Pages */
div#headBanner.about {
    background: url(../img/LowRes_shutterstock_1233294022.jpg), center, no-repeat;
    padding: 40px 20px;
    height: 200px;
    align-items: center;
    display: flex;
}