/* Variables */
:root {
    --border-radius: 4px;
    --border-size: 1px;

    /* Brand Colours */
    --light-blue: rgb(96, 175, 255);
    --teal: rgb(37, 109, 133);
    --dark-blue: rgb(6, 40, 61);
    --light-gray: rgb(71, 181, 255);
    --medium-gray: rgb(102, 102, 102);
    --hover: rgb(13, 81, 104);
    --error: #882222;

    /* Fonts */
    --base-font-size: 16px;
    --font-weight-medium: 800;
    --font-weight-regular: 600;
    --font-weight-normal: 400;
    --h1: calc(30px + (48 - 30) * ((100vw - 300px) / (1600 - 300)));
    --h2: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    --h3: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
    --h4: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    --h5: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--base-font-size);
    line-height: 24px;
    color: var(--dark-blue);
    height: 100%;
}

body {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;

}

section {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content,
.aboutContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.inside {
    padding: 20px;
}

ul {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

img {
    width: 100%;
}

img.img_full {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90%;
}

@media only screen and (min-width: 60em) {
    section {
        padding: 80px 20px;
    }

    .content {
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
    }

    .contentSection {
        gap: 20px;
    }

    section.inside {
        padding: 40px 20px;
    }
}

/* Fonts */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--base-font-size);
    padding: 0;
}

h1,
h2 {
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 10px 0;
}

h3,
h4,
h5,
h6 {
    padding: 15px 0 5px;
    font-weight: var(--font-weight-regular);
    margin: 0;
}

p {
    line-height: 1.25em;
    margin-top: 0;
}

.w-border {
    border-bottom: 3px solid var(--light-blue);
    width: fit-content;
    padding-bottom: 15px;
}

/* Buttons */
.btn,
a.btn,
input[type="submit"] {
    cursor: pointer;
    font-weight: var(--font-weight-medium);
    font-size: var(--base-font-size);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    transition: 0.4s;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
}

.btn i {
    font-size: 0.75em;
}

i.fa-angle-left {
    transform: rotate(180deg);
}

.btn:hover,
a.btn:hover,
input[type="submit"] {
    background-color: var(--hover);
    color: white;
}

a {
    color: var(--dark-blue);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

.btn.primary {
    background-color: var(--teal);
    color: white;
    border: var(--border-size) solid var(--teal);
}

.btn.secondary {
    background-color: transparent;
    color: var(--dark-blue);
    border: var(--border-size) solid var(--dark-blue);
    box-shadow: 0px 1px 3px var(--medium-gray);
}

.btn.onlyText {
    background-color: transparent;
    color: inherit;
    border: var(--border-size) solid transparent;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label-input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: var(--h6);
    font-weight: var(--font-weight-regular);
    display: inline-flex;
    gap: 3px;
    align-items: center;
}

input,
textarea {
    border: 1px solid var(--dark-blue);
    border-radius: var(--border-radius);
    padding: 3px 8px;
    line-height: initial;
}

i.fa-solid.fa-asterisk {
    font-size: 0.7em;
    color: var(--error);
}

.error {
    color: white;
    background-color: var(--error);
    padding: 3px 8px;
    font-weight: var(--font-weight-regular);
    border-radius: var(--border-radius);
}

/* Navigation */

/* Mobile navigation */
.navigation {
    background: var(--dark-blue);
    padding: 10px 20px;
    z-index: 2;
    color: white;
}

.navigation .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a.brand img {
    width: 5em;
    margin-top: 8px;
}

a.brand img,
a.brand:visited {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    z-index: 2;
}

nav ul li a {
    display: block;
    line-height: initial;
    color: white;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    border-top: 2px solid var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
    color: white;
}

nav ul li a.active {
    background-color: var(--light-blue);
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

.navigation button.nav-mobile {
    border: 0;
    background: none;
    color: white;
    font-size: 1.9em;
    cursor: pointer;
}

@media only screen and (min-width: 60em) {
    button.nav-mobile {
        display: none;
    }

    a.brand img {
        width: 8em;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex !important;
        flex-direction: row;
        gap: 16px;
        position: initial;
    }

    nav ul li a {
        padding: 5px;
    }

    nav ul li a.active {
        border-bottom: 2px solid var(--light-blue);
        background-color: transparent;
    }
}

/* Footer */
.logoFooter {
    width: 5em;
}

#footerNavigation>.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyrightWrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.btnGroup {
    line-height: initial;
}

.btnGroup i {
    font-size: 24px;
}

/* Components */

/* Page Banner */
.headBanner,
.sectionbg {
    position: relative;
    width: 100%;
}

.headBanner {
    height: 125px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.headBanner::before,
.sectionbg::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-position: bottom;
    z-index: -1;
}

.content_bg {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: var(--border-radius);
}

@media only screen and (min-width: 60em) {

    .headBanner,
    .sectionbg {
        padding: 80px 20px;
    }

    .headBanner {
        height: 250px;
    }

    .headBanner::before {
        background-position: center 78%;
    }

    .content_bg {
        padding: 40px;
    }
}

/* Flip Cards */
.flipCardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 3px 6px rgb(6 40 61 / 30%);
    padding: 40px 20px;
}

/* Style the front side */
.flip-card-front {
    background-color: var(--teal);
    color: white;
}

.flip-card-front i {
    font-size: 3.25em;
}

/* Style the back side */
.flip-card-back {
    background-color: white;
    color: var(--dark-blue);
    transform: rotateY(180deg);
    text-align: left;
}

@media only screen and (min-width: 60em) {
    .flipCardWrapper {
        flex-direction: row;
    }
}

/* Pages */
/* Home - Jumbotron */
#homeBanner {
    background-image: url(../img/LowRes_shutterstock_1606985236.jpg);
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    background-position: 28% center;
    background-size: cover;
    background-repeat: no-repeat;
}

#homeBanner .content {
    height: 100%;
    justify-content: end;
    align-items: end;
    padding: 0 20px;
}

#curve {
    position: absolute;
    bottom: -5px;
    width: 100%;
}

#curve path {
    fill: #fff;
}

.img-overlay {
    position: relative;
    width: 50%;
    bottom: 5px;
    background-color: rgb(255 255 255 / 80%);
    padding: 10px 10px 0;
    z-index: 0;
}

@media only screen and (min-width: 40em) {
    #homeBanner {
        height: 75vh;
    }

    .img-overlay {
        width: 40%;
        bottom: 30px;
    }
}

@media only screen and (min-width: 60em) {

    .img-overlay {
        width: 30%;
        bottom: 60px;
        padding: 20px 20px 0;
    }
}

@media only screen and (min-width: 75em) {
    #homeBanner {
        height: 85vh;
    }

    .img-overlay {
        padding: 40px 40px 0;
    }
}

@media only screen and (min-width: 100em) {
    .img-overlay {
        width: 50%;
        bottom: 70px;
    }
}

@media only screen and (min-width: 2900px) {
    .img-overlay {
        bottom: 160px;
    }
}

/* Home - Intro */
section#homeIntro {
    padding-top: 20px;
}

/* Home - Contact Section */
#homeContact {
    background-color: var(--teal);
}

/* Home - Media Queries */
/* Mobile */
@media only screen and (min-width: 60em) {
    section#homeIntro {
        padding-top: 60px;
    }
}

/* Desktop */
@media only screen and (max-width: 60em) {
    #homeServices .contentSection {
        align-items: center;
    }
}

/* About */
#about.headBanner::before {
    background-image: url('../img/LowRes_shutterstock_572692948.jpg');
}

@media only screen and (min-width: 60em) {

    #mainAbout .content,
    #homeAbout .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
    }
}

/* Services */
#services.headBanner::before,
#homeServices::before {
    background-image: url('../img/LowRes_shutterstock_1579484785.jpg');
}

@media only screen and (min-width: 60em) {
    #serviceDesc .content {
        flex-direction: row;
        justify-content: space-between;
    }

    #serviceDesc .content h2 {
        font-size: var(--h3);
    }
}

/* Contact */
#contact.headBanner::before {
    background-image: url('../img/LowRes_shutterstock_1491349139.jpg');
}