/* Variables */
:root {
    /* Brand Colours */
    --light-blue: rgb(96, 175, 255);
    --teal: rgb(37, 109, 133);
    --dark-blue: rgb(6, 40, 61);
    --light-gray: rgb(71, 181, 255);
    --medium-gray: rgb(102, 102, 102);

    /* Fonts */
    --base-font-size: 16px;
    --font-weight-medium: 600;
    --font-weight-regular: 500;
    --font-weight-normal: 400;
    --h1: calc(30px + (48 - 30) * ((100vw - 300px) / (1600 - 300)));
    --h2: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
    --h3: calc(22px + (28 - 22) * ((100vw - 300px) / (1600 - 300)));
    --h4: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    --h5: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: var(--font-weight-normal);
    font-size: var(--base-font-size);
    line-height: 24px;
    color: var(--dark-blue);
    height: 100%;
}

body {
    background-color: white;
}

main {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

section {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* section:last-child {
    padding-top: 0;
} */

p:last-child {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0;
}

img {
    width: 100%;
}

/* Fonts */
h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-regular);
}

h1,
h2 {
    font-weight: var(--font-weight-medium);
    margin: 0;
    padding: 10px 0;
}

h3,
h4,
h5,
h6 {
    padding: 15px 0 5px;
    font-weight: var(--font-weight-regular);
    margin: 0;
}

h6 {
    padding: 0;
}

p {
    line-height: 1.25em;
    margin-top: 0;
}

.w-border {
    border-bottom: 3px solid var(--light-blue);
    width: fit-content;
}

/* Navigation */

/* Mobile navigation */
.navigation {
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

a.brand img {
    width: 5em;
    margin-top: 8px;
}

a.brand img,
a.brand:visited {
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    z-index: 2;
}

nav ul li a {
    display: block;
    line-height: initial;
    color: white;
    padding: 10px 20px;
    background-color: var(--dark-blue);
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

nav ul li a:hover {
    border-top: 2px solid var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
}

nav ul li a.active {
    background-color: var(--light-blue);
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}

.navigation button.nav-mobile {
    border: 0;
    background: none;
    color: white;
    font-size: 1.9em;
    cursor: pointer;
}

@media only screen and (min-width: 800px) {
    button.nav-mobile {
        display: none;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex !important;
        flex-direction: row;
        gap: 16px;
        position: initial;
    }

    nav ul li a {
        padding: 5px;
    }

    nav ul li a.active {
        border-bottom: 2px solid var(--light-blue);
        background-color: transparent;
    }
}

/* Pages */

/* Page Banner */
#headBanner {
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 20px;
}

#headBanner::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    background-position: bottom;
}

#headBanner h1 {
    position: relative;
}

/* About */
#headBanner.about::before {
    background-image: url('../img/LowRes_shutterstock_572692948.jpg');
}

/* Services */
#headBanner.services::before {
    background-image: url('../img/LowRes_shutterstock_1579484785.jpg');
}